@charset "utf-8";
/*기본으로 설정 꼭 해야 함*/
@import url("font.css");
@import url("normalize.css");
/*외부에서 CSS 연결*/
/* box-sizing 기본 값 선언 */
/* style 초기화 */
html,body,h1,h2,h3,h4,h5,h6,p{
  border:0;
  padding:0;
  margin: 0;
}
html{
  font-size: 10px;
}
body{
  font-size: 1.6rem;
  background: #52C6AE;
  font-family:"HyundaiRegular";
  
}
/* section1 콘텐츠 레이아웃 */
.section1{
  display: grid;
  grid-template-columns: repeat(12, 65px);
  grid-template-rows: auto auto;
  grid-column-gap: 20px;
  position: relative;
  justify-content: center;
}
.section1::after{
content: "";
background: repeating-linear-gradient(to right,hsla(0,50%,50%,.5), hsla(0,50%,50%,.5) 65px, transparent 65px, transparent 85px);
position: absolute;
top: 0;
left: 50%;
transform: translateX(-50%);
width:1000px;
height:100%;
}
/* logo */
.logo{
 font-size: 8rem;
  color:#fff;
  font-family:"HyundaiExtraBold";
  grid-column: 4/span 6;
  grid-row:1/2;

}
/* 웨더 앱 소개 */
.description{
  font-size: 2rem;
  color:#fff;
  line-height: 1.5;
  grid-column:7/span 6;
  grid-row:2/3;
}

.description span{
    display: block;
}
h1,h2,h3,h4,h5,h6{
  font-size: 1.6rem;
  font-weight: normal;
}
/* 앱 소개 이미지 */
.image-wrapper{
  grid-column: 1/span 4;
  grid-row: 2/3

}
.image-wrapper img{
  max-width: 100%;
  height: auto;
}

